/*************************
*Author: Panfei
*Date: 2015-2-5
*************************/

/*--------------------
	General styles
--------------------*/
body{font: 1.25em/1.5 'microsoft yahei', Arial; color: #999; background-color: #1d1e24;}
input, textarea, select:focus{outline: medium;}
img{vertical-align: middle;}
th{font-weight: 400;}
td{text-align: center;}
a{text-decoration: none;}
strong{font-weight: 700;}
.blue-c{color: #43fefd;}

/*--------------------
	Header
--------------------*/
.container{width: 750px; margin: 0 auto; background-color: #1d1e24; overflow: hidden;}
.header-wrap{height: 60px; background-color: #000; padding: 20px;}
.header-wrap img{float: left;}
.header-wrap p{padding-left: 135px; line-height: 2;}
.header-wrap .p1{color: #fff; font: 28px/1 'microsoft yahei';}
.header-dload-btn{width: 200px; font: 28px/60px 'microsoft yahei'; float: right; text-align: center; color: #fff; background-color: #4282fa; border-radius: 4px;}

/*--------------------
	News-box
--------------------*/
.news-box-hd{margin-top: 60px; padding: 0 40px;}
.news-box-tt{margin-bottom: 25px;}
.news-box-tt h2 i{font-size: 34px; color: #fff; margin-right: 15px;}
.back-btn{float: right; font: 24px/35px 'microsoft yahei'; color: #999; padding-left: 40px; position: relative; margin-top: 8px;}
.back-btn:before{background: url(../images/ico.png) no-repeat -146px -50px; content: ''; left: 0; top: 0; width: 36px; height: 35px; position: absolute;}
.news-box-tab .news-tab{width: 166px; height: 60px; background: url(../images/news_tab.jpg) repeat; float: left; text-align: center; color: #fff; font: 24px/60px 'microsoft yahei'; border-left: 1px solid #1e2028;}
.news-box-tab .news-tab-clk{background-image: url(../images/news_tab_clk.jpg);}
.news-list{margin-top: 20px;}
.news-list li{border-bottom: 1px solid #424245; padding: 20px 40px; font: 26px/44px 'microsoft yahei'; width: 88%; overflow: hidden;}
.news-list li:active{background-color: #16171e;}
.news-list li span{float: left; margin-right: 10px;}
.news-list li a{color: #999; width: 71%; height: 44px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; float: left;}
.news-time{float: right; color: #666; font-size: 22px;}
.more-btn{text-align: center; display: block; margin: 55px 0; font-size: 26px; color: #999;}

.page-bar{margin: 40px 0; text-align: center;}
.page-bar a{display: inline-block; width: 180px; line-height: 60px; color: #999; border: 1px solid; margin: 0 20px;}
.page-bar a:active{color: #fff; background-color: #999;}
/*--------------------
	Article-wrapper
--------------------*/
.article-hd{margin: 50px 0 20px;}
.article-tt{text-align: center; font-size: 28px;}
.article-tt-time{text-align: center; font-size: 18px; color: #666;}
.article-bd{padding: 0 40px 80px; font-size: 26px;}
.article-bd img{margin: 20px auto;display: block;}






