<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel='stylesheet' href='javascripts/bower_components/bootstrap/dist/css/bootstrap.css'/>
<!--     <link rel='stylesheet' href='javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.css'/> -->
	<style>
		[v-cloak] {
			display: none;
		}
		#modal-view  	dd,
		#modal-view  	dt{
				height: 20px;
			}

	</style>
  </head>
  <body>

	<div id="app" class="container">
		<h1><%= title %></h1>
		<p>您共有4位联系人</p>
		<p>	
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="search">label</label>
				<input type="text" v-model="searchKey" class="form-control" id="search" placeholder="字段搜索">
			</div>
			<button type="submit" class="btn btn-primary">搜索</button>
			<a data-toggle="modal" href='#{{addId}}' class="btn btn-info"><i class="glyphicon-plus glyphicon"></i></a>
		</form>
		</p>

		<div class="table-responsive">
			<table class="table table-hover" v-cloak>
				<thead>
					<tr>
						<th><a href="#" v-on:click="sort('name')">姓名</a></th>
						<th><a href="#" v-on:click="sort('phone')">手机号码</a></th>
						<th><a href="#" v-on:click="sort('email')">邮箱</a></th>
						<th><a href="#" v-on:click="sort('qq')">QQ</a></th>
						<th><a href="#" v-on:click="sort('remark')">备注</a></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<tr v-for="contact in contacts | orderBy sortKey order | filterBy searchKey in 'name' 'phone' 'email' 'qq' 'remark' ">
						<td>{{contact.name}}</td>
						<td>{{contact.phone}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.qq}}</td>
						<td>{{contact.remark}}</td>

						<td>
							<a v-on:click.prevent="view(contact._id)" class="btn btn-info" href="#" role="button"><i class="glyphicon-eye-open glyphicon"></i>查看</a>
							<a @click.prevent="edit(contact._id)" class="btn btn-warning" href="#" role="button"><i class="glyphicon-pencil glyphicon"></i>编辑</a>
							<a @click.prevent="showDelModal(contact._id)" class="btn btn-danger" href="#" role="button"><i class="glyphicon-trash glyphicon"></i>删除</a>
						</td>
				</tr>
				</tbody>
			</table>
		</div>

		<confirm-modal :id="confirmId" :show.sync="isConfirmModal" :delete-Contact="deleteContact" :cur-Contact.sync="curContact">
		</confirm-modal>

		<view-modal :id="viewId" :show.sync="false" :cur-contact="curContact" :headers="allheaders">
		</view-modal>

		<add-modal :id="addId" :show.sync="false" :get-all-contacts="getAllContacts">
		</add-modal>

		<edit-modal :id="editId" :show.sync="false" :form="form" :get-all-contacts="getAllContacts" :name="name">
		</edit-modal>

	</div>
	<!-- 模态框 -->
	<script type="x/template" id="modal-template">
		<div id="{{id}}" class="modal {{class || 'fade'}}" v-show="show">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" v-show="closable">&times;</button>
						<slot name="header">
						</slot>
					</div>
					<div class="modal-body">
						<slot name="body">
						</slot>
					</div>
					<div class="modal-footer">
						<slot name="footer">
						</slot>
					</div>
				</div>
			</div>
		</div>
	</script>
	<!-- 确认 -->
	<script type="x/template" id="confirm-modal-template">
		<modal :id="id" :show.sync="show" :closable="false" :cur-Contact.sync="curContact">
			<h4 slot="header">提示</h4>
			<div slot="body">
				你确定要删除“ {{ curContact.name }} ”吗?
			</div>
			<div slot="footer">
				<button class="btn btn-danger ok" @click="confirm()">确定</button>
				<button class="btn btn-warning cancel" data-dismiss="modal">取消</button>
			</div>
		</modal>
	</script>
	<!-- 查看 -->
	<script type="x/template" id="view-modal-template">
		<modal :id="id" :show.sync="show" :closable="false" :cur-Contact="curContact" :header="header">
			<h3 slot="header">{{  curContact.name}}</h3>
			<dl slot="body" class="dl-horizontal">
				<dt v-for="header in headers ">{{ header}}:</dt>
				<dd>{{ curContact.name }}</dd>
				<dd>{{ curContact.phone || " - " }}</dd>
				<dd><a href="mailto:{{ curContact.email }}">{{ curContact.email || " - " }}</a></dd>
				<dd>{{curContact.qq}}</dd>
				<dd>{{curContact.remark}}</dd>
			</dl>
			<button slot="footer" class="btn btn-warning cancel"  data-dismiss="modal">关闭</button>
		</modal>
	</script>

	<script type="x/template" id="add-modal-template">
		<modal :id="id"  :closable="true"  :show.sync="show" :getAllContacts="getAllContacts">
			<h4 slot="header" class="modal-title">新增联系人</h4>
			<div slot="body">
				<form  action="" method="POST" class="form-horizontal" role="form">
					<div class="form-group">
			            <label class="control-label col-sm-2" for="form.add.name">姓名</label>
			            <div class="col-sm-6">
			              <input type="text" class="form-control" id="form.add.name" name="form.add.name" v-model="form.add.name" placeholder="姓名">
			            </div>
					</div>
					<div class="form-group">
			            <label class="control-label col-sm-2" for="form.add.phone">手机号码</label>
			            <div class="col-sm-6">
			              <input maxlength="11" type="text" class="form-control" id="form.add.phone" name="form.add.phone" v-model="form.add.phone" placeholder="手机号码">
			            </div>
					</div>
					<div class="form-group">
			            <label class="control-label col-sm-2" for="form.add.email">邮箱</label>
			            <div class="col-sm-6">
			              <input type="text" class="form-control" id="form.add.email" name="form.add.email" v-model="form.add.email" placeholder="邮箱">
			            </div>
					</div>
					<div class="form-group">
			            <label class="control-label col-sm-2" for="form.add.qq">QQ</label>
			            <div class="col-sm-6">
			              <input type="text" class="form-control" id="form.add.qq" name="form.add.qq" v-model="form.add.qq" placeholder="QQ">
			            </div>
					</div>
					<div class="form-group">
			            <label class="control-label col-sm-2" for="form.add.remark">备注</label>
			            <div class="col-sm-6">
			              <textarea type="text" class="form-control" id="form.add.remark" name="form.add.remark" v-model="form.add.remark" placeholder="备注">
			              </textarea>
			            </div>
					</div>
				</form>
			</div>
			<div slot="footer" class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				<button type="button" class="btn btn-primary" @click="addContact">保存</button>
			</div>
		</modal>
	</script>
	
	<script type="x/template" id="edit-modal-template">
		<modal :id="id"  :closable="true" :form="form" :show.sync="show" :getAllContacts="getAllContacts" :name="name">
	        <h3 slot="header">编辑 - {{name }}</h3>
			<form slot="body" action="" method="POST" class="form-horizontal" role="form">
				<div class="form-group">
		            <label class="control-label col-sm-2" for="form.edit.name">姓名</label>
		            <div class="col-sm-6">
		              <input type="text" class="form-control" id="form.edit.name" name="form.edit.name" v-model="form.edit.name" placeholder="姓名">
		            </div>
				</div>
				<div class="form-group">
		            <label class="control-label col-sm-2" for="form.edit.phone">手机号码</label>
		            <div class="col-sm-6">
		              <input maxlength="11" type="text" class="form-control" id="form.edit.phone" name="form.edit.phone" v-model="form.edit.phone" placeholder="手机号码">
		            </div>
				</div>
				<div class="form-group">
		            <label class="control-label col-sm-2" for="form.edit.email">邮箱</label>
		            <div class="col-sm-6">
		              <input type="text" class="form-control" id="form.edit.email" name="form.edit.email" v-model="form.edit.email" placeholder="邮箱">
		            </div>
				</div>
				<div class="form-group">
		            <label class="control-label col-sm-2" for="form.edit.qq">QQ</label>
		            <div class="col-sm-6">
		              <input type="text" class="form-control" id="form.edit.qq" name="form.edit.qq" v-model="form.edit.qq" placeholder="QQ">
		            </div>
				</div>
				<div class="form-group">
		            <label class="control-label col-sm-2" for="form.edit.remark">备注</label>
		            <div class="col-sm-6">
		              <input type="text" class="form-control" id="form.edit.remark" name="form.edit.remark" v-model="form.edit.remark" placeholder="备注">
		            </div>
				</div>
			</form>
			<div slot="footer">
			  <button @click="saveEdit" class="btn btn-info"><i class="icon-plus icon-white"></i>保存</button>
			  <button class="btn btn-warning cancel" data-dismiss="modal">取消</button>
			</div>
		</modal>
	</script>





    <script src="./javascripts/bower_components/jquery/dist/jquery.js"></script>
    <script src="./javascripts/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./javascripts/bower_components/vue/dist/vue.js"></script>
    <script src="./javascripts/component.js"></script>
    <script src="./javascripts/api.js"></script>
    <script src="./javascripts/app.js"></script>
  </body>
</html>
