<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel='stylesheet' href='javascripts/bower_components/bootstrap/dist/css/bootstrap.css'/>
<!--     <link rel='stylesheet' href='javascripts/bower_components/bootstrap/dist/css/bootstrap-theme.css'/> -->
	<style>
		[v-cloak] {
			display: none;
		}
		#modal-view  	dd,
		#modal-view  	dt{
				height: 20px;
			}

	</style>
  </head>
  <body>

	<div id="app" class="container">
		<h1><%= title %></h1>
		<p>您共有4位联系人</p>
		<p>	
		<form class="form-inline" role="form">
			<div class="form-group">
				<label class="sr-only" for="search">label</label>
				<input type="text" v-model="searchKey" class="form-control" id="search" placeholder="字段搜索">
			</div>
			<button type="submit" class="btn btn-primary">搜索</button>
			<a data-toggle="modal" href='#modal-id' class="btn btn-info"><i class="glyphicon-plus glyphicon"></i></a>
		</form>
		</p>

		<div class="table-responsive">
			<table class="table table-hover" v-cloak>
				<thead>
					<tr>
						<th><a href="#" v-on:click="sort('name')">姓名</a></th>
						<th><a href="#" v-on:click="sort('phone')">手机号码</a></th>
						<th><a href="#" v-on:click="sort('email')">邮箱</a></th>
						<th><a href="#" v-on:click="sort('qq')">QQ</a></th>
						<th><a href="#" v-on:click="sort('remark')">备注</a></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				<tr v-for="contact in contacts | orderBy sortKey order | filterBy searchKey in 'name' 'phone' 'email' 'qq' 'remark' ">
						<td>{{contact.name}}</td>
						<td>{{contact.phone}}</td>
						<td>{{contact.email}}</td>
						<td>{{contact.qq}}</td>
						<td>{{contact.remark}}</td>

						<td>
							<a v-on:click.prevent="view(contact._id)" class="btn btn-info" href="#" role="button"><i class="glyphicon-eye-open glyphicon"></i>查看</a>
							<a @click.prevent="edit(contact._id)" class="btn btn-warning" href="#" role="button"><i class="glyphicon-pencil glyphicon"></i>编辑</a>
							<a @click.prevent="showDelModal(contact._id)" class="btn btn-danger" href="#" role="button"><i class="glyphicon-trash glyphicon"></i>删除</a>
						</td>
				</tr>
				</tbody>
			</table>
		</div>


		<!-- 		<a class="btn btn-primary" data-toggle="modal" href='#modal-id'>Trigger modal</a> -->
		<!-- 新增对话框 -->
		<div class="modal fade" id="modal-id">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title">新增联系人</h4>
					</div>
					<div class="modal-body">
						<form action="" method="POST" class="form-horizontal" role="form">
							<div class="form-group">
					            <label class="control-label col-sm-2" for="inputName">姓名</label>
					            <div class="col-sm-6">
					              <input type="text" class="form-control" id="inputName" name="name" v-model="form.add.name" placeholder="姓名">
					            </div>
							</div>
							<div class="form-group">
					            <label class="control-label col-sm-2" for="inputPhone">手机号码</label>
					            <div class="col-sm-6">
					              <input maxlength="11" type="text" class="form-control" id="inputPhone" name="phone" v-model="form.add.phone" placeholder="手机号码">
					            </div>
							</div>
							<div class="form-group">
					            <label class="control-label col-sm-2" for="inputEmail">邮箱</label>
					            <div class="col-sm-6">
					              <input type="text" class="form-control" id="inputEmail" name="email" v-model="form.add.email" placeholder="邮箱">
					            </div>
							</div>
							<div class="form-group">
					            <label class="control-label col-sm-2" for="inputQQ">QQ</label>
					            <div class="col-sm-6">
					              <input type="text" class="form-control" id="inputQQ" name="qq" v-model="form.add.qq" placeholder="QQ">
					            </div>
							</div>
							<div class="form-group">
					            <label class="control-label col-sm-2" for="inputRemarks">备注</label>
					            <div class="col-sm-6">
					              <textarea type="text" class="form-control" id="inputRemarks" name="remarks" v-model="form.add.remark" placeholder="备注">
					              	
					              </textarea>
					            </div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
						<button type="button" class="btn btn-primary" @click="addContact('modal-id')">保存</button>
					</div>
				</div>
			</div>
		</div>

		<!-- 查看对话框 -->
		<div class="modal fade" id="modal-view">
			<div class="modal-dialog">
				<div class="modal-content">
					<div modal="contactView">
					  <div class="modal-header">
					      <h3>{{  curContact.name}}</h3>
					  </div>
					  <div class="modal-body">
					    <dl class="dl-horizontal">
							<dt v-for="header in allheaders ">{{ header}}:</dt>
							<dd>{{ curContact.name }}</dd>
							<dd>{{ curContact.phone || " - " }}</dd>
							<dd><a href="mailto:{{ curContact.email }}">{{ curContact.email || " - " }}</a></dd>
							<dd>{{curContact.qq}}</dd>
							<dd>{{curContact.remark}}</dd>
					    </dl>
					  </div>
					  <div class="modal-footer">
					      <button class="btn btn-warning cancel"  data-dismiss="modal">关闭</button>
					  </div>
					</div>
				</div>
			</div>
		</div>
		<!-- 编辑 -->
		<div class="modal fade" id="modal-edit">
			<div class="modal-dialog">
				<div class="modal-content">
					 <div modal="contactEdit">
					      <div class="modal-header">
					          <h3>编辑 - {{ form.edit.name }}</h3>
					      </div>
					      <div class="modal-body">
    						<form action="" method="POST" class="form-horizontal" role="form">
								<div class="form-group">
						            <label class="control-label col-sm-2" for="inputName">姓名</label>
						            <div class="col-sm-6">
						              <input type="text" class="form-control" id="inputName" name="name" v-model="form.edit.name" placeholder="姓名">
						            </div>
								</div>
								<div class="form-group">
						            <label class="control-label col-sm-2" for="inputPhone">手机号码</label>
						            <div class="col-sm-6">
						              <input maxlength="11" type="text" class="form-control" id="inputPhone" name="phone" v-model="form.edit.phone" placeholder="手机号码">
						            </div>
								</div>
								<div class="form-group">
						            <label class="control-label col-sm-2" for="inputEmail">邮箱</label>
						            <div class="col-sm-6">
						              <input type="text" class="form-control" id="inputEmail" name="email" v-model="form.edit.email" placeholder="邮箱">
						            </div>
								</div>
								<div class="form-group">
						            <label class="control-label col-sm-2" for="inputQQ">QQ</label>
						            <div class="col-sm-6">
						              <input type="text" class="form-control" id="inputQQ" name="qq" v-model="form.edit.qq" placeholder="QQ">
						            </div>
								</div>
								<div class="form-group">
						            <label class="control-label col-sm-2" for="inputRemarks">备注</label>
						            <div class="col-sm-6">
						              <input type="text" class="form-control" id="inputRemarks" name="remarks" v-model="form.edit.remark" placeholder="备注">
						            </div>
								</div>
							</form>
					      </div>
					      <div class="modal-footer">
					          <button @click="editContact('modal-edit')" class="btn btn-info"><i class="icon-plus icon-white"></i>保存</button>
					          <button class="btn btn-warning cancel" data-dismiss="modal">取消</button>
					      </div>
				      </div>
				</div>
			</div>
		</div>

				<!-- 删除对话框 -->

		<div class="modal  fade" id="modal-contactDelete">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div modal="contactDelete">
						<div class="modal-header">
						<h4>提示</h4>
						</div>
						<div class="modal-body">
							你确定要删除“ {{ curContact.name }} ”吗?
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger ok" @click="deleteContact()">确定</button>
							<button class="btn btn-warning cancel" data-dismiss="modal">取消</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <script src="./javascripts/bower_components/jquery/dist/jquery.js"></script>
    <script src="./javascripts/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="./javascripts/bower_components/vue/dist/vue.js"></script>
    <script src="./javascripts/component.js"></script>
    <script src="./javascripts/api.js"></script>
    <script src="./javascripts/app.js"></script>
  </body>
</html>
