* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 12px;
}
img {
	border: none;
}
li {
	list-style: none;
}
input,
select,
textarea {
	outline: none;
	border: none;
}
textarea {
	resize: none;
}
a {
	text-decoration: none;
	color: #676767;
}
/*清除浮动*/

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
.clearfix {
	zoom: 1;
}